<div id="topscore">
  <h3>Participants Leaderboard</h3>
  <hr >
  <div class="row">
    <div class="user leaderboard col-md-12">
      {{#each arrangedContent as |user index|}}
        <table class="animate" style="margin-top: {{flex-topmargin index 70}}px" data-anim={{index}}>
          <tr>
            <td width="64">
              <img class="avatar img-circle img-thumbnail" src="/images/guest.png" width="64" alt="Generic placeholder image">
            </td>
            <td class="name">
              {{user.name}}<br />
            </td>
            <td class="points">
              {{user.points}}<br />
            </td>
          </tr>
        </table>
     {{/each}}
</div>
</div>
</div>
