<div class="row">

  {{#each answer in question.answers}}
  <div class="col-md-3">
    <button {{action 'selectAnswer' answer question.id}} class="answerButton"> {{answer.title}} </button> <br>
  </div>
  {{/each}}

</div>
