<div class="row">
  {{#each answer in question.answers}}
  <div class="col-md-12 answer">
    <button {{action 'selectAnswer' answer question.id}} class="button"> {{answer.title}} </button> <br>
  </div>
  {{/each}}
</div>
