<div class="row">
  {{#each answers as |answer|}}
    <div class="col-md-12 answer">
      {{colored-player-choice-button text=answer.text color=answer.color onselect=(action 'selectAnswer' answer.model)}}
    </div>
  {{/each}}
</div>
