
body {
	background-color: #3D3D3D;
	color: white;
	font-family: 'Arial';
	position: relative;
}
a {
	color: white;
	text-decoration: 'none';
}
a:hover {
	color: white;
	text-decoration: 'none';
}
.questionText {
	font-size:1.5em;
	min-height: 60px;
}
.bar {
	background-color: white;
	height: 20px;
	width: 100%;
	position: absolute;
	left:0;
}
.progress-bar-wrapper {
	height: 30px;
	position: relative;
	padding: 5px;
	margin-left: 10px;
}
.leaderboard {
  position: relative;
}
.leaderboard table {
	width: 100%;
	position: absolute;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.user table tr td{
	padding: 5px;
	text-align: left;
	font-size:200%;
}
.user table tr td.points{
	text-align: right;
	font-size:200%;
	padding-right:25px;
}
form.login {
	color: black;
}
form.login input{
	width:50%;
	height:60px;
	font-size:200%;
	color: white;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
}
.button {
	background-color: transparent;
	color: white;
	border: 3px solid white;
	font-size: large;
	width: 100%;
	padding: 10px;
	margin: 5px;
}
.selectedButton {
	color: gold;
	border: 3px solid gold;
}
.wrongButton {
	color: red;
	border: 3px solid red;
}
.correctButton {
	color: green;
	border: 3px solid green;
}
form.login button{
	height:60px;
	width: 100px;
}
.logoutButton {
	width: 100px;
	padding: 5px;
	margin: 5px;
	font-size: small;
	border: 1px solid white;
}
.answer {
	opacity: 0;
}