
body {
	background-color: #3D3D3D;
	background-image: url(/images/open_hpi_logo.png);
	background-position: 99% 1%;
	background-size: 20%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	font-family: 'Arial';
	position: relative;
}
a {
	color: white;
	text-decoration: 'none';
}
a:hover {
	color: white;
	text-decoration: 'none';
}
.questionText {
	font-size:1.5em;
	min-height: 60px;
}
.bar {
	background-color: white;
	height: 20px;
	width: 100%;
	position: absolute;
	left:0;
}
.progress-bar-wrapper {
	height: 30px;
	position: relative;
	padding: 5px;
	margin-left: 10px;
}
.leaderboard {
  position: relative;
}
.leaderboard table {
	width: 100%;
	position: absolute;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.user table tr td{
	padding: 5px;
	text-align: left;
	font-size:200%;
}
.user table tr td.points{
	text-align: right;
	font-size:200%;
	padding-right:25px;
}
form.login {
	color: black;
}
form.login input{
	width:50%;
	height:60px;
	font-size:200%;
	color: white;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
	text-align: center;
}
.button {
	background-color: transparent;
	color: white;
	border: 3px solid white;
	font-size: large;
	width: 100%;
	padding: 10px;
	margin: 5px;
}
.selectedButton {
	color: rgb(255, 174, 0);
	border: 3px solid rgb(255, 174, 0);
}
.wrongButton {
	color: red;
	border: 3px solid red;
}
.correctButton {
	color: green;
	border: 3px solid green;
}
.resultButton {
	padding: 0;
	height: 51px;
	position: relative;
}
.resultButtonFilling {
	z-index: -1;
	position: absolute;
	margin-top: -10px;
	width: inherit;
	height: 47px;
	background-color: rgb(255, 174, 0);
  width:0%; /* End width.. */
  -webkit-animation: filler 2s ease-in-out;
  -moz-animation: filler 2s ease-in-out;
  animation: filler 2s ease-in-out;
}
.resultButtonText {
	position: static;
}
@-webkit-keyframes filler {
  0% {
    width:0;
  }
}
form.login button{
	height:60px;
	width: 100px;
}
.logoutButton {
	width: 100px;
	padding: 5px;
	margin: 5px;
	font-size: small;
	border: 1px solid white;
}
.answer {
	opacity: 0;
}
#qrcode img {
	border: 2px solid white;
}
.login-area {
	text-align: center;
	display: block;
  top: 50%;
  left: 50%;
  margin-top: 15%;
}
#title {
	font-size: xx-large;
	text-align: center;
	padding: 30px;
}