* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #3D3D3D;
  color: white;
  font-family: 'NeoSansStdRegular', sans-serif;
  position: relative;
  margin: 0;
}


/* FONTS */

@font-face {
  font-family:"NeoSansStdLight";
  src:url(/fonts/NeoSansStdLight.eot);
  src:url(/fonts/NeoSansStdLight.eot?#iefix) format("embedded-opentype"),url(/fonts/NeoSansStdLight.woff) format("woff"),url(/fonts/NeoSansStdLight.ttf) format("truetype"),url(/fonts/NeoSansStdLight.svg#NeoSansStdLight) format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal
}
@font-face {
  font-family:"NeoSansStdLightItalic";
  src:url(/fonts/NeoSansStdLightItalic.eot);
  src:url(/fonts/NeoSansStdLightItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/NeoSansStdLightItalic.woff) format("woff"),url(/fonts/NeoSansStdLightItalic.ttf) format("truetype"),url(/fonts/NeoSansStdLightItalic.svg#NeoSansStdLightItalic) format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal
}
@font-face {
  font-family:"NeoSansStdRegular";
  src:url(/fonts/NeoSansStdRegular.eot);
  src:url(/fonts/NeoSansStdRegular.eot?#iefix) format("embedded-opentype"),url(/fonts/NeoSansStdRegular.woff) format("woff"),url(/fonts/NeoSansStdRegular.ttf) format("truetype"),url(/fonts/NeoSansStdRegular.svg#NeoSansStdRegular) format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal
}
@font-face {
  font-family:"NeoSansStdRegularItalic";
  src:url(/fonts/NeoSansStdItalic.eot);
  src:url(/fonts/NeoSansStdItalic.eot?#iefix) format("embedded-opentype"),url(/fonts/NeoSansStdItalic.woff) format("woff"),url(/fonts/NeoSansStdItalic.ttf) format("truetype"),url(/fonts/NeoSansStdItalic.svg#NeoSansStdRegularItalic) format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal
}
@font-face {
  font-family:"NeoSansStdMedium";
  src:url(/fonts/NeoSansStdMedium.eot);
  src:url(/fonts/NeoSansStdMedium.eot?#iefix) format("embedded-opentype"),url(/fonts/NeoSansStdMedium.woff) format("woff"),url(/fonts/NeoSansStdMedium.ttf) format("truetype"),url(/fonts/NeoSansStdMedium.svg#NeoSansStdMedium) format("svg");
  font-weight:400;
  font-style:normal;
  font-stretch:normal
}

/*------------------------------------------------
 * LAYOUT
 *------------------------------------------------*/

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 100vh;
}

header {
  flex: 0 1 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  height: 150px;
  background: rgba(0,0,0,0.6);
  box-shadow: 5px 0 5px black;
}

header > * {
  flex: 0 1 auto;
}

.headerLogo img {
  max-height: 70px;
}

#title {
  font-size: xx-large;
  text-align: center;
  color: rgb(242, 150, 41);
}

.appMain {
  flex: 1 1 auto;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

main {
  flex-grow: 3;
  padding: 60px 40px;
}

.appMain > aside {
  flex: 0 0 250px;
  color: white;
  padding: 60px 15px;
}


/*------------------------------------------------
 * PLAYER WIDGETS
 *------------------------------------------------*/

.playerBox {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerBox-name {
  font-size: 2rem;
}

.playerBox-points {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.playerBox-points span {
  display: block;
  font-size: 5rem;
  background-color: black;
  color: white;
  border-radius: 2.5em;
  margin: 15px 0;
}

.playerBox-instruction {
  font-size: 1.7em;
}


/*------------------------------------------------
 * QUIZ SELECTOR
 *------------------------------------------------*/

.quizSelector {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.quizSelector-quiz {
  flex: 1;
  flex-basis: calc(50% - 100px);
  margin: 30px;

  background-color: #5D5D5D;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quizSelector-quiz-title {
  font-size: 2.4em;
}

.quizSelector-quiz-desc {
  font-size: 1.6em;
}

/*------------------------------------------------
 * QUIZ INTRO SCREEN
 *------------------------------------------------*/

.quizIntro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.quizIntro > * {
  flex: 0 1 auto;
}

.quizIntro-title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}


/*------------------------------------------------
 * QUIZ MODE
 *------------------------------------------------*/

.quizQuestion {
  position: relative;
}

.quizQuestion-header {
  text-align: center;
}

.quizQuestion-counter {
  position: absolute;
  top: -25px;
  width: 100%;
}

.quizQuestion-text {
  font-size: 2.5em;
  min-height: 60px;
}

.quizQuestion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quizQuestion > * {
  flex: 0 1 auto;
}

.quizQuestion-answers > * {
  margin-top: 30px;
}

/* ANSWER MARKERS */


.quizQuestion-answer {
  position: relative;
}

.quizQuestion-answer .quizQuestion-answer-marker {
  position: absolute;
  display: block;
  top: 0;
  content: '';
  width: 4em;
  height: 4em;
  background-color: white;
}

.quizQuestion-answer-marker.player1 {
  left: 0;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.quizQuestion-answer-marker.player2 {
  right: 0;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.quizQuestion .quizQuestion-answer-solution, .quizQuestion .playerChoiceButton {
  margin: 0 40px;
}

.quizQuestion-answer-solution.correct {
  color: #3D3D3D;
  background-color: white;
  border-color: white;
}

/* COLORED BUTTONS */

.quizQuestion-answer-solution, .playerChoiceButton {
  display: block;
  border: 4px solid currentcolor;
  padding: 10px;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  background-color: #3D3D3D;
  position: relative;
  z-index: 3;
}

.playerChoiceButton {
  padding: 10px;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.playerChoiceButton.yellow {
  border-color: rgba(255,222,0,1);
  background-color: rgba(250,222,0,0.5);
}

.playerChoiceButton.red {
  border-color: rgba(232,55,2,1);
  background-color: rgba(232,55,2,0.5);
}

.playerChoiceButton.green {
  border-color: rgba(44,171,45,1);
  background-color: rgba(44,171,45,0.5);
}

.playerChoiceButton.blue {
  border-color: rgba(16,127,201,1);
  background-color: rgba(16,127,201,0.5);
}

/* QUIZ STATS */

.quizStats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.quizStats > * {
  flex: 1 1 auto;
}

.quizStats-winner {
  font-size: 3em;
  font-weight: bold;
}

.quizStats-motivation {
  font-size: 2.5em;
}

.quizStats-hint {
  font-size: 1.8em;
}


/* TIMER */

.quizQuestion .countdownTimer {
  margin: 0 40px;
}

.bar {
  background-color: white;
  height: 20px;
  width: 100%;
}
