body {
	background-color: orange;
	color: white;
	font-family: 'Arial';
	position: relative;
}
a {
	color: white;
	text-decoration: 'none';
}
.answerButton {
  background-color: white;
	color: gray;
	width: 100%;
	padding: 10px;
	margin: 5px;
}
.questionText {
	font-size:1.5em;
}
.bar {
	background-color: white;
	height: 20px;
	position: absolute;
	left:0;
}
.user table {
	width: 100%;
}

.user table tr td{
	padding: 5px;
	text-align: left;
}
.user table tr td.points{
	text-align: right;
}
