
body {
	background-color: #3D3D3D;
	color: white;
	font-family: 'Arial';
	position: relative;
}
a {
	color: white;
	text-decoration: 'none';
}
a:hover {
	color: white;
	text-decoration: 'none';
}
.questionText {
	font-size:1.5em;
	min-height: 60px;
	text-align: center;
}
.readyText {
	font-size: 1.2em;
	min-height: 60px;
	text-align: center;
	color: gray;
}
.bar {
	background-color: white;
	height: 20px;
	width: 100%;
	position: absolute;
	left:0;
}
.question-results .bar {
	background-color: white;
	height: 2px;
}
.progress-bar-wrapper {
	height: 30px;
	position: relative;
	padding: 5px;
	margin-left: 5px;
}
.leaderboard {
  position: relative;
}
.leaderboard table {
	width: 100%;
	position: absolute;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.user table tr td{
	padding: 5px;
	text-align: left;
	font-size:200%;
	vertical-align: initial;
}
.user table tr td.points{
	text-align: right;
	font-size:200%;
	padding-right:25px;
}
.userAnswered {
	color: rgb(255, 174, 0);
}
.userNotAnswered {
	color: white;
}
form.login {
	color: black;
}
form.login input{
	width:50%;
	height:60px;
	font-size:200%;
	color: white;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
	text-align: center;
}
.button {
	background-color: transparent;
	color: white;
	border: 3px solid white;
	font-size: large;
	width: 100%;
	padding: 10px;
	margin: 5px;
}

.wrongButton {
	color: white;
	border: 3px solid white;
	background-color: red;
	-webkit-animation: background-color  2s ease-in-out;
	-moz-animation: background-color  2s ease-in-out;
	animation: background-color  2s ease-in-out;
}
.correctButton {
	color: white;
	border: 3px solid white;
	background-color: green;
	-webkit-animation: background-color  2s ease-in-out;
	-moz-animation: background-color  2s ease-in-out;
	animation: background-color  2s ease-in-out;
}
.selectedButton {
	color: rgb(255, 174, 0);
	border: 3px solid rgb(255, 174, 0);
}
.resultButton {
	padding: 0;
	z-index: -2;
	height: 51px;
	position: relative;
}
.resultButtonFilling {
	z-index: -1;
	position: absolute;
  height:10px;
	bottom:0px;
	width: inherit;
	background-color: rgb(255, 174, 0);
  width:0%; /* End width.. */
  -webkit-animation: filler 2s ease-in-out;
  -moz-animation: filler 2s ease-in-out;
  animation: filler 2s ease-in-out;
}
.resultButtonText {
	position: static;
}
@-webkit-keyframes filler {
  0% {
    width:0;
  }
}
form.login button{
	height:60px;
	width: 100px;
}
.logoutButton {
	width: 100px;
	padding: 5px;
	margin: 5px;
	font-size: small;
	border: 1px solid white;
}
.answer {
	opacity: 0;
}
.qrcode-wrapper {
	height: 100px;
  width: 100px;
  overflow: hidden;
}
.qrcode-wrapper img {
	border: 1px solid white;
	height: 114px;
  width: 114px;
}
.login-area {
	text-align: center;
	display: block;
  top: 50%;
  left: 50%;
  margin-top: 15%;
}
#title {
	font-size: xx-large;
	text-align: center;
	padding: 30px;
	background: rgba(0,0,0,0.6);
  width: 150%;
  left: -25%;
  position: relative;
  box-shadow: 5px 0px 5px black;
  color: rgb(242, 150, 41);
}
.desc {
	min-height: 60px;
}
.pageContainer {
	overflow-x: hidden;
}
.logo {
	width: 20%;
  position: absolute;
  right: 0;
  padding-right: 15px;
}
.clientLogo {
  top: 1%;
}
.tvLogo {
  top: 5%;
}
.introLogo {
	width: 25%;
  top: 0;
  padding-right: 15px;
  margin: 20px;
}
