html {
  height: 100%;
}

body {
  background-color: #3D3D3D;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
  margin: 0;
}

/*------------------------------------------------
 * LAYOUT
 *------------------------------------------------*/

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 100vh;
}

header {
  flex: 0 1 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  height: 150px;
  background: rgba(0,0,0,0.6);
  box-shadow: 5px 0 5px black;
}

header > * {
  flex: 0 1 auto;
}

.headerLogo img {
  max-height: 110px;
}

#title {
  font-size: xx-large;
  text-align: center;
  color: rgb(242, 150, 41);
}

.appMain {
  flex: 1 1 auto;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

main {
  flex-grow: 3;
  padding: 40px;
}

.appMain > aside {
  flex: 0 0 250px;
  background-color: lightgoldenrodyellow;
  color: black;
  padding: 15px;
}


/*------------------------------------------------
 * PLAYER WIDGETS
 *------------------------------------------------*/

.playerBox {
  text-align: center;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerBox-name {
  font-size: 2rem;
  text-decoration: underline;
}

.playerBox-points {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.playerBox-points span {
  display: block;
  font-size: 5rem;
  background-color: black;
  color: white;
  border-radius: 2.5em;
}


/*------------------------------------------------
 * QUIZ SELECTOR
 *------------------------------------------------*/

.quizSelector {
  display: flex;
  flex-wrap: wrap;
}

.quizSelector-quiz {
  flex: 1;
  flex-basis: calc(50% - 70px);
  margin: 30px;
}


/*------------------------------------------------
 * QUIZ MODE
 *------------------------------------------------*/

.quizQuestion-header {
  text-align: center;
}

.quizQuestion-text {
  font-size: 2.5em;
  min-height: 60px;
}

.quizQuestion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quizQuestion > * {
  flex: 0 1 auto;
}

.quizQuestion-answers > * {
  margin-top: 30px;
}

.quizQuestion-answer {
  opacity: 0;
}




.bar {
  background-color: white;
  height: 20px;
  width: 100%;
  position: absolute;
  left:0;
}

.progress-bar-wrapper {
	height: 30px;
	position: relative;
	padding: 5px;
	margin-left: 5px;
}

.leaderboard {
  position: relative;
}
.leaderboard table {
	width: 100%;
	position: absolute;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.userAnswered {
	color: rgb(255, 174, 0);
}
.userNotAnswered {
	color: white;
}
.button {
	background-color: transparent;
	color: white;
	border: 3px solid white;
	font-size: large;
	width: 100%;
	padding: 10px;
	margin: 5px;
}

.wrongButton {
	color: white;
	border: 3px solid white;
	background-color: red;
	-webkit-animation: background-color  2s ease-in-out;
	-moz-animation: background-color  2s ease-in-out;
	animation: background-color  2s ease-in-out;
}
.correctButton {
	color: white;
	border: 3px solid white;
	background-color: green;
	-webkit-animation: background-color  2s ease-in-out;
	-moz-animation: background-color  2s ease-in-out;
	animation: background-color  2s ease-in-out;
}
.selectedButton {
	color: rgb(255, 174, 0);
	border: 3px solid rgb(255, 174, 0);
}
.resultButton {
	padding: 0;
	z-index: -2;
	height: 51px;
	position: relative;
}
.resultButtonFilling {
	z-index: -1;
	position: absolute;
  height:10px;
	bottom:0px;
	width: inherit;
	background-color: rgb(255, 174, 0);
  width:0%; /* End width.. */
  -webkit-animation: filler 2s ease-in-out;
  -moz-animation: filler 2s ease-in-out;
  animation: filler 2s ease-in-out;
}
.resultButtonText {
	position: static;
}
@-webkit-keyframes filler {
  0% {
    width:0;
  }
}
.desc {
	min-height: 60px;
}

.quizQuestion-answer-solution, .playerChoiceButton {
  display: block;
  margin: 0 40px;
  border: 5px solid currentcolor;
  padding: 10px;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.quizQuestion-answer-solution.correct {
  color: black;
  background-color: white;
}

.playerChoiceButton {
  padding: 10px;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.playerChoiceButton.yellow {
  border-color: rgba(255,222,0,1);
  background-color: rgba(250,222,0,0.5);
}

.playerChoiceButton.red {
  border-color: rgba(232,55,2,1);
  background-color: rgba(232,55,2,0.5);
}

.playerChoiceButton.green {
  border-color: rgba(44,171,45,1);
  background-color: rgba(44,171,45,0.5);
}

.playerChoiceButton.blue {
  border-color: rgba(16,127,201,1);
  background-color: rgba(16,127,201,0.5);
}
