<h3>Quiz: {{model.title}}</h3>

<h4>Waiting for other participants (at least two) to join...</h4>

{{progress-bar time=100 whenTimeUp=(action 'start')}}

{{#player-button-any players=idlePlayers onselect=(action 'joinAndStart')}}
  Start the game!
{{/player-button-any}}
