<div class="quizIntro">
  <p class="quizIntro-title">
    Quiz: {{model.title}}
  </p>

  {{countdown-timer time=100 whenTimeUp=(action "start")}}

</div>
{{player-button-any players=idlePlayers onselect=(action "joinAndStart")}}
