<div class="quizIntro">
  <p class="quizIntro-title">
    Quiz: {{model.title}}
  </p>

  {{progress-bar time=100 whenTimeUp=(action 'start')}}

</div>
{{player-button-any players=idlePlayers onselect=(action 'joinAndStart')}}
