<div class="row">
  <div>
    <div class="questionText"> Quiz completed - {{winner_phrase}}. Congratulations! </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3> Do you want to start a new quiz? </h3>
    {{#player-button-any players=players onselect=(action 'backToIndex')}}
      Show all quizzes
    {{/player-button-any}}
  </div>
</div>

<div class="row">
  <div class="hidden-xs hidden-sm">
    {{quiz-leaderboard content=participants title='Leaderboard'}}
  </div>
</div>

{{outlet}}
