<div class="row">
  <div>
    <h2> Quiz completed - the winner is {{winner_name}}. Congratulations! </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
		<button {{action 'restart'}} class="answerButton"> Restart </button>
	</div>	
	<div class="col-md-3">	
		{{#link-to 'quizzes'}} <button class="answerButton"> Show all quizzes </button> {{/link-to}}
	</div>
</div>

<div class="row">
	<div>
		{{quiz-leaderboard content=participants title='Leaderboard'}}
	</div>
</div>

{{outlet}}
