<div class="row">
  <div class="large-12 columns clearfix">
    <label class="left">Quiz completed! You scored {{model.points}} points!</label>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
		<button {{action 'restart'}} class="answerButton"> Restart </button>
	</div>	
	<div class="col-md-3">	
		{{#link-to 'quizzes'}} <button class="answerButton"> Show all quizzes </button> {{/link-to}}
	</div>
</div>

{{outlet}}
