<div class="row">
  <div class="large-12 columns clearfix">
    <label class="left">Quiz completed! You scored {{model.points}} points!</label>
  </div>
</div>

<button {{action 'start'}} class="answerButton"> Restart </button>

{{outlet}}
