<div class="pageContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="title">Welcome to the openHPI CeBIT QuizBattle</div>
        <img class="logo tvLogo" src='/images/open_hpi_logo.png'/>
        <div style="margin-top:35px;">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
