<div class="appContainer">
  <header>
    <div class="headerLogo">
        <img src="/images/open_hpi_logo.png" />
        <img src="/images/schul-cloud.png" />
    </div>
    <div id="title">Testet Euer Wissen beim Didacta-Quiz-Battle!</div>
  </header>

  <div class="appMain">
    <aside id="player1">
      {{player-box player=player1}}
    </aside>

    <main>
      {{outlet}}
    </main>

    <aside id="player2">
      {{player-box player=player2}}
    </aside>
  </div>
</div>
