<div class="pageContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="title">Welcome to the openHPI CeBIT QuizBattle</div>
        <img class="logo tvLogo" src='/images/open_hpi_logo.png'/>

        <div>
          <h4>Joined players</h4>
          {{#each joinedPlayers as |player|}}
            <h5>{{ player.name }}: {{ player.points }}</h5>
          {{/each}}
        </div>

        <div style="margin-top:35px;">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
