<div class="appContainer">
  <header>
    <div class="headerLogo">
      <img src="/images/open_hpi_logo.png" />
    </div>
    <div id="title">Welcome to the openHPI CeBIT QuizBattle</div>
  </header>

  <div class="appMain">
    <aside id="player1">
      player 1
    </aside>

    <main>
      {{outlet}}
    </main>

    <aside id="player2">
      <h4>Joined players</h4>
      {{#each joinedPlayers as |player|}}
        <h5>{{ player.name }}: {{ player.points }}</h5>
      {{/each}}
    </aside>
  </div>
</div>
