<div class="login-area">
	<h2>Welcome - Who are you?</h2>
	<form id='form' class="login" {{action 'login' on='submit'}}>
	  {{input id='username' placeholder='Enter Name'}}
	  <button type="submit" class="button">Login</button>
	</form>
</div>
