<h3>Welcome - Who are you?</h3>

<form id='form' {{action 'login' on='submit'}}>
  <label for="username">Login</label>
  {{input id='username' placeholder='Enter Name' value='Bob'}}
  <button type="submit">Login</button>
</form>