<div class="quizSelector">
  {{#each quizzes as |quiz index|}}
    <div class="quizSelector-quiz">
      <h3>{{quiz.title}}</h3>
      <div class="desc">
        {{quiz.description}}
      </div>
      {{#player-button-choice index=index players=players onselect=(action 'selectQuiz' quiz)}}
        Start quiz
      {{/player-button-choice}}
    </div>
  {{/each}}
</div>
