<div class="row">
  {{#each quizzes as |quiz|}}
    <div class="col-md-4">
      <h3>{{quiz.title}}</h3>
      <div class="desc">
        {{quiz.description}}
      </div>
      {{colored-player-choice-button text='Start quiz' color=quiz.color onselect=(action 'selectQuiz' quiz.model)}}
    </div>
  {{/each}}
</div>

{{outlet}}
