<div class="quizSel">

  <div class="quizSelector">
    {{#swiper-container currentSlide=currentSlide pagination=true  loop=true
                        autoplay=true delay=6000 preloadImages=true keyboard=true}}

      {{#each quizzes as |quiz index|}}
        {{#swiper-slide}}
          <div class="quizSelector-quizNr{{index}}">
            <div class="quizSelector-quiz">

              <p class="quizSelector-quiz-title">{{ quiz.title }}</p>
              <p class="quizSelector-quiz-desc">{{ quiz.description }}</p>
              <p>{{ quiz.questions.length }} Fragen</p>

            </div>
          </div>
        {{/swiper-slide}}
      {{/each}}

    {{/swiper-container}}
  </div>

  <div class="quizButton">
    {{#player-button-choice index=1 players=players onselect=(action "selectCurrentQuiz")}}
      Starte Quiz
    {{/player-button-choice}}
  </div>

</div>
